# WeRateDogs Data Wrangling project

> I am going to set up twitter API

In [575]:
# set up twitter API
import tweepy

# authentification info
consumer_key = '**********'
consumer_secret = '**********'
access_token = '**********'
access_secret = '**********'

# authentification
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# access to twitter
api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Gather
### First data set

In [576]:
# open a csv file on hand which shows twitter WeRateDogs archive data
import pandas as pd
df_archive=pd.read_csv("twitter-archive-enhanced.csv")

# Assess

In [577]:
# check data frame
df_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
809,771500966810099713,NaN,NaN,2016-09-02 00:12:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Dakota. He's just saying hi. That's all. 12/10 someone wave back https://t.co/1tWe5zZoHv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/771500966810099713/photo/1,12,10,Dakota,None,None,None,None
631,794205286408003585,NaN,NaN,2016-11-03 15:51:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Laika. She was a space pupper. The first space pupper actually. Orbited earth like a h*ckin boss. 14/10 hero af https://t.co/trSjgY3h4g,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/794205286408003585/photo/1,https://twitter.com/dog_rates/status/794205286408003585/photo/1,https://twitter.com/dog_rates/status/794205286408003585/photo/1",14,10,Laika,None,None,pupper,None
2238,668113020489474048,NaN,NaN,2015-11-21 17:05:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Alfie. He's that one hypocritical gym teacher who made you run laps. Great posture. Cool bench. 6/10 https://t.co/GCJzm3YsfX,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668113020489474048/photo/1,6,10,Alfie,None,None,None,None
1404,699370870310113280,NaN,NaN,2016-02-15 23:13:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to Calbert. He doesn't have enough legs. Wtf Calbert. Still havin a blast tho. 11/10 would pet extra well https://t.co/iNFIHvcVur,NaN,NaN,NaN,https://twitter.com/dog_rates/status/699370870310113280/photo/1,11,10,Calbert,None,None,None,None
1099,735991953473572864,NaN,NaN,2016-05-27 00:32:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Maxaroni. He's curly af. Also rather fabulous. 11/10 would hug well https://t.co/A216OjIdca,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/735991953473572864/photo/1,https://twitter.com/dog_rates/status/735991953473572864/photo/1,https://twitter.com/dog_rates/status/735991953473572864/photo/1",11,10,Maxaroni,None,None,None,None
307,835685285446955009,NaN,NaN,2017-02-26 02:57:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Rory. He's got an interview in a few minutes. Looking spiffy af. Nervous as h*ck tho. 12/10 would hire https://t.co/…,7.869631e+17,4.196984e+09,2016-10-14 16:13:10 +0000,https://twitter.com/dog_rates/status/786963064373534720/photo/1,12,10,Rory,None,None,None,None
511,811985624773361665,NaN,NaN,2016-12-22 17:23:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to Ted. He accidentally opened the front facing camera. 11/10 h*ckin unpupared https://t.co/sIB5C6FDop,NaN,NaN,NaN,https://twitter.com/dog_rates/status/811985624773361665/photo/1,11,10,Ted,None,None,None,None
794,773336787167145985,NaN,NaN,2016-09-07 01:47:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Meet Fizz. She thinks love is a social construct consisting solely of ideals perpetuated by mass media 11/10 woke af https:/…,7.713808e+17,4.196984e+09,2016-09-01 16:14:48 +0000,"https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1",11,10,Fizz,None,None,None,None
483,814986499976527872,NaN,NaN,2016-12-31 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cooper. Someone attacked him with a sharpie. Poor pupper. 11/10 nifty tongue slip tho https://t.co/01vpuRDXQ8,NaN,NaN,NaN,https://twitter.com/dog_rates/status/814986499976527872/photo/1,11,10,Cooper,None,None,pupper,None
1788,677557565589463040,NaN,NaN,2015-12-17 18:34:46 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Reckless pupper here. Not even looking at road. Absolute menace. No regard for fellow pupper lives. 10/10 still cute https://t.co/96IBkOYB7j,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677557565589463040/photo/1,10,10,None,None,None,pupper,None

## column names - df_archive
- tweet_id: ID for each tweet
- in_reply_to_status_id: If the represented Tweet is a reply, this field will contain the integer representation of the original Tweet’s ID
- in_reply_to_user_id: If the represented Tweet is a reply, this field will contain the integer representation of the original Tweet’s author ID.
- timestamp: time of tweet
- source: Utility used to post the Tweet
- text: tweeted text
- retweeted_status_id: retweet ID
- retweeted_status_user_id: retweet user ID
- retweeted_status_timestamp: time of retweet
- expanded_urls: tweet urls
- rating_numerator: actual rating of a dog* it is normal to see above 10 'https://knowyourmeme.com/memes/theyre-good-dogs-brent
- rating_denominator: maximum rating points = 10
- name: name of dog
- doggo,floofer,pupper,puppo: dog stage

In [578]:
# some texts are not fully shown
df_archive.query('tweet_id=="666649482315059201"').expanded_urls

2316    https://twitter.com/dog_rates/status/666649482315059201/photo/1
Name: expanded_urls, dtype: object

In [579]:
# expand column width to max
# http://songhuiming.github.io/pages/2017/04/02/jupyter-and-pandas-display/
pd.set_option('display.max_colwidth', -1)

In [580]:
# no duplication
df_archive[df_archive.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [581]:
# check info
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [582]:
# check statistics
df_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

> rating_numerator and rating_danominator contains strange figures such as their max value.

In [583]:
# check if all rating denominator is 10
df_archive["rating_denominator"].sort_values(ascending=True)

313     0
2335    2
516     7
1576    10
1575    10
1574    10
1573    10
1572    10
1563    10
1570    10
1569    10
1568    10
1567    10
1566    10
1565    10
1564    10
1577    10
1571    10
0       10
1562    10
1547    10
1548    10
1549    10
1550    10
1551    10
1552    10
1553    10
1554    10
1555    10
1556    10
        ..
782     10
781     10
775     10
799     10
780     10
779     10
776     10
777     10
778     10
800     10
784     11
1068    11
1662    11
342     15
1663    16
1165    20
1598    20
1433    40
1202    50
1351    50
1274    50
433     70
1843    80
1254    80
1228    90
1635    110
1779    120
1634    130
902     150
1120    170
Name: rating_denominator, Length: 2356, dtype: int64

In [584]:
# check names
df1_clean.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', nan, 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Gerald', 'Jeffrey', 'Canela', 'Maya',
       'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey', 'Earl',
       'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella', 'Grizzwald', 'Rusty',
       'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey', 'Gary', 'Elliot', 'Louis',
       'Jesse', 'Romeo', 'Bailey', 'Duddles', 'Jack', 'Steven', 'Beau',
       'Snoopy', 'Shadow', 'Emmy', 'Aja', 'Penny', 'Dante', 'Nelly',
       'Ginger', 'Benedict', 'Venti', 'Goose', 'Nugget', 'Cash', 'Jed',
       'Sebastian', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie',
       'Rover', 'Napolean', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'Dewey', 'Scout', 'Gizmo', 'Walter', 'Cooper', 'Harold', 'Shikha',
       'Lili', 'Jamesy', 'Coco', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Belle', 'Quinn', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Sophie',
       'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Callie', 'Cermet', 'Marlee',
       'Arya', 'Einstein', 'Alice', 'Rumpole', 'Benny', 'Aspen', 'Jarod',
       'Wiggles', 'General', 'Sailor', 'Iggy', 'Snoop', 'Kyle', 'Leo',
       'Riley', 'Noosh', 'Odin', 'Jerry', 'Georgie', 'Rontu', 'Cannon',
       'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis', 'Mimosa',
       'Pickles', 'Brady', 'Luna', 'Charlie', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Indie', 'Winnie', 'George', 'Bentley', 'Max', 'Dawn',
       'Maddie', 'Monty', 'Sojourner', 'Winston', 'Odie', 'Arlo',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Ava', 'Eli', 'Ash',
       'Tucker', 'Tobi', 'Chester', 'Wilson', 'Sunshine', 'Lipton',
       'Bronte', 'Poppy', 'Gidget', 'Rhino', 'Willow', 'Orion', 'Eevee',
       'Smiley', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Lilly', 'Samson', 'Mia', 'Astrid', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'Mutt', 'Bear', 'Doobert', 'Beebop', 'Alexander',
       'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie', 'Loki', 'Cupid',
       'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet', 'Pablo', 'Nala',
       'Crawford', 'Gabe', 'Jimison', 'Duchess', 'Harlso', 'Sundance',
       'Luca', 'Flash', 'Sunny', 'Howie', 'Jazzy', 'Anna', 'Finn', 'Bo',
       'Wafer', 'Tom', 'Florence', 'Autumn', 'Buddy', 'Dido', 'Eugene',
       'Ken', 'Strudel', 'Tebow', 'Chloe', 'Timber', 'Binky', 'Moose',
       'Dudley', 'Comet', 'Akumi', 'Titan', 'Olivia', 'Alf', 'Oshie',
       'Chubbs', 'Sky', 'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron',
       'Tyr', 'Bauer', 'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo',
       'Augie', 'Craig', 'Sam', 'Hunter', 'Pavlov', 'Phil', 'Kyro',
       'Wallace', 'Ito', 'Seamus', 'Ollie', 'Stephan', 'Lennon', 'Major',
       'Duke', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny', 'Marley',
       'Severus', 'Ronnie', 'Milo', 'Bones', 'Mauve', 'Chef', 'Doc',
       'Peaches', 'Sobe', 'Longfellow', 'Mister', 'Iroh', 'Pancake',
       'Snicku', 'Ruby', 'Brody', 'Mack', 'Nimbus', 'Laika', 'Maximus',
       'Dobby', 'Moreton', 'Juno', 'Maude', 'Lily', 'Newt', 'Benji',
       'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Levi', 'Mabel',
       'Misty', 'Betty', 'Mosby', 'Maggie', 'Bruce', 'Happy', 'Ralphy',
       'Brownie', 'Rizzy', 'Stella', 'Butter', 'Frank', 'Tonks',
       'Lincoln', 'Rory', 'Logan', 'Dale', 'Rizzo', 'Arnie', 'Mattie',
       'Pinot', 'Dallas', 'Hero', 'Frankie', 'Stormy', 'Reginald',
       'Balto', 'Mairi', 'Loomis', 'Godi', 'Cali', 'Deacon', 'Timmy',
       'Sampson', 'Chipson', 'Combo', 'Oakley', 'Dash', 'Hercules', 'Jay',
       'Mya', 'Strider', 'Wesley', 'Solomon', 'Huck', "O'Malley", 'Blue',
       'Anakin', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare',
       'Chelsea', 'Bungalo', 'Chip', 'Grey', 'Roosevelt', 'Willem',
       'Davey', 'Dakota', 'Fizz', 'Dixie', 'Al', 'Jackson', 'Carbon',
       'Klein', 'DonDon', 'Kirby', 'Lou', 'Chevy', 'Tito', 'Philbert',
       'Louie', 'Rupert', 'Rufus', 'Brudge', 'Shadoe', 'Angel', 'Brat',
       'Tove', 'Gromit', 'Aubie', 'Kota', 'Leela', 'Glenn', 'Shelby',
       'Sephie', 'Bonaparte', 'Albert', 'Wishes', 'Rose', 'Theo', 'Rocco',
       'Fido', 'Emma', 'Spencer', 'Lilli', 'Boston', 'Brandonald',
       'Corey', 'Leonard', 'Beckham', 'Devón', 'Gert', 'Watson', 'Keith',
       'Dex', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Meyer',
       'Zoe', 'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'Cora', 'Huxley',
       'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shiloh', 'Gustav',
       'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey', 'Blanket', 'Geno',
       'Stark', 'Beya', 'Kilo', 'Kayla', 'Maxaroni', 'Bell', 'Doug',
       'Edmund', 'Aqua', 'Theodore', 'Baloo', 'Chase', 'Nollie', 'Rorie',
       'Simba', 'Charles', 'Bayley', 'Axel', 'Storkson', 'Remy',
       'Chadrick', 'Kellogg', 'Buckley', 'Livvie', 'Terry', 'Hermione',
       'Ralpher', 'Aldrick', 'Larry', 'Rooney', 'Crystal', 'Ziva',
       'Stefan', 'Pupcasso', 'Puff', 'Flurpson', 'Coleman', 'Enchilada',
       'Raymond', 'Rueben', 'Cilantro', 'Karll', 'Sprout', 'Blitz',
       'Bloop', 'Colby', 'Lillie', 'Ashleigh', 'Kreggory', 'Sarge',
       'Luther', 'Ivar', 'Jangle', 'Schnitzel', 'Panda', 'Berkeley',
       'Ralphé', 'Charleson', 'Clyde', 'Harnold', 'Sid', 'Pippa', 'Otis',
       'Carper', 'Bowie', 'Alexanderson', 'Suki', 'Barclay', 'Skittle',
       'Ebby', 'Flávio', 'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert',
       'Stephanus', 'Bubbles', 'Zeus', 'Bertson', 'Nico',
       'Michelangelope', 'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas',
       'Kanu', 'Lance', 'Opie', 'Stubert', 'Kane', 'Olive', 'Chuckles',
       'Staniel', 'Sora', 'Beemo', 'Gunner', 'Lacy', 'Tater', 'Olaf',
       'Cecil', 'Vince', 'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin',
       'Malikai', 'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle',
       'Jiminus', 'Harper', 'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu',
       'Ellie', 'Katie', 'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy',
       'Bode', 'Terrenth', 'Reese', 'Chesterson', 'Lucia', 'Bisquick',
       'Ralphson', 'Socks', 'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo',
       'Coopson', 'Yoda', 'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia',
       'Murphy', 'Dotsy', 'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl',
       'Reagan', 'Yukon', 'CeCe', 'Cuddles', 'Claude', 'Jessiga',
       'Carter', 'Ole', 'Pherb', 'Blipson', 'Reptar', 'Trevith', 'Berb',
       'Bob', 'Colin', 'Brian', 'Oliviér', 'Grady', 'Kobe', 'Freddery',
       'Bodie', 'Dunkin', 'Wally', 'Tupawc', 'Amber', 'Herschel', 'Edgar',
       'Teddy', 'Kingsley', 'Brockly', 'Richie', 'Molly', 'Vinscent',
       'Cedrick', 'Hazel', 'Lolo', 'Eriq', 'Phred', 'Oddie', 'Maxwell',
       'Geoff', 'Covach', 'Durg', 'Fynn', 'Ricky', 'Herald', 'Lucky',
       'Ferg', 'Trip', 'Clarence', 'Hamrick', 'Brad', 'Pubert', 'Frönq',
       'Derby', 'Lizzie', 'Ember', 'Blakely', 'Opal', 'Marq', 'Kramer',
       'Barry', 'Tyrone', 'Gordon', 'Baxter', 'Mona', 'Horace', 'Crimson',
       'Birf', 'Hammond', 'Lorelei', 'Marty', 'Brooks', 'Petrick',
       'Hubertson', 'Gerbald', 'Oreo', 'Bruiser', 'Perry', 'Bobby',
       'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe', 'Tiger',
       'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel', 'Taco',
       'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses', 'Toffee',
       'Apollo', 'Carly', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'Hurley', 'Rubio', 'Chompsky', 'Rascal', 'Linda',
       'Tug', 'Tango', 'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy',
       'Ralph', 'Sandy', 'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus',
       'Karl', 'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'Kenny', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Eve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'Jazz', 'Franq', 'Pippin', 'Rolf',
       'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco', 'Patch',
       'Mojo', 'Batdog', 'Dylan', 'Mark', 'JD', 'Alejandro', 'Scruffers',
       'Pip', 'Julius', 'Tanner', 'Sparky', 'Anthony', 'Holly', 'Jett',
       'Amy', 'Sage', 'Andy', 'Mason', 'Trigger', 'Antony', 'Creg',
       'Traviss', 'Gin', 'Jeffrie', 'Danny', 'Ester', 'Pluto', 'Bloo',
       'Edd', 'Paull', 'Willy', 'Herb', 'Damon', 'Peanut', 'Nigel',
       'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam', 'Tommy', 'Ben',
       'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn', 'Skye', 'Kollin',
       'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa', 'Sully', 'Kirk',
       'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Terrance', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Shaggy', 'Filup',
       'Kial', 'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Timison', 'Bradlay', 'Pipsy', 'Clybe',
       'Keet', 'Carll', 'Jockson', 'Josep', 'Lugan', 'Christoper'],
      dtype=object)

# df_archive
## Quality
- tweet id is integer --> string
- time stamp is string --> date object
- source column contains unnecessary information --> example "twitter for iphone" this sentence is enough
- There are retweets data --> remove
- expanded_urls contains more than 1 url --> choose only 1 url
- name cheks  --> check with a name in the text column
- rate checks --> check with rates in the text column


## tidines
- in reply to status id and user_id are not both needed --> change to if a tweet is replied or not
- retweeted... are also not all needed --> this will be solved with removing retweets
- dog stage should have only one column  --> concat

# Gather
### Second data set

In [585]:
# get image-predicions.tsv from udacity server
import requests
r_prediction = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [586]:
# check if the request worked
r_prediction.status_code

200

In [587]:
# save the above tsv files in my file
with open("image_predictions.tsv",mode="wb") as file:
    file.write(r_prediction.content)

In [588]:
# open the tsv file as a data frame
df_prediction=pd.read_csv("image_predictions.tsv",sep="\t")

# Assess

In [589]:
# check the data
df_prediction.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
217,670069087419133954,https://pbs.twimg.com/media/CUyQRzHWoAAhF1D.jpg,1,boathouse,0.313829,False,birdhouse,0.138331,False,ashcan,0.045673,False
57,667073648344346624,https://pbs.twimg.com/media/CUHr8WbWEAEBPgf.jpg,1,Chihuahua,0.483682,True,pug,0.092494,True,Brabancon_griffon,0.057495,True
1143,730196704625098752,https://pbs.twimg.com/media/CiIuBwCUgAAAGbz.jpg,1,hand_blower,0.296145,False,chain_mail,0.262271,False,toilet_seat,0.149497,False
1059,714982300363173890,https://pbs.twimg.com/media/CewgnHAXEAAdbld.jpg,1,Brittany_spaniel,0.944376,True,beagle,0.025435,True,Ibizan_hound,0.009962,True
1996,874680097055178752,https://pbs.twimg.com/media/DCN85nGUwAAzG_q.jpg,1,Labrador_retriever,0.836052,True,Staffordshire_bullterrier,0.047069,True,beagle,0.036007,True

## column names - df_prediction

- tweet_id: ID for each tweet
- jpg_url: image urls (1st image if several pictures are tweeted)
- img_num: number of image in a tweet
- p1,p2,p3: prediction of spieces/ num.1 prediction, num2 prediction, num3 prediction
- p1_conf,p2_conf,p3_conf: how confident the prediction is for each prediction
- p1_dog,p2_dog,p3_dog: if the prediction is dog or not

In [590]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [591]:
# check what kind of spieces is predicted
df_prediction.p1.value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                     89
Chihuahua                    83
pug                          57
chow                         44
Samoyed                      43
toy_poodle                   39
Pomeranian                   38
cocker_spaniel               30
malamute                     30
French_bulldog               26
Chesapeake_Bay_retriever     23
miniature_pinscher           23
seat_belt                    22
Staffordshire_bullterrier    20
Siberian_husky               20
German_shepherd              20
web_site                     19
Cardigan                     19
Eskimo_dog                   18
beagle                       18
Shetland_sheepdog            18
teddy                        18
Maltese_dog                  18
Rottweiler                   17
Lakeland_terrier             17
Shih-Tzu                     17
kuvasz                       16
Italian_greyhound            16
                             ..
Scotch_terrier               1
bow                          1
cup                          1
school_bus                   1
soccer_ball                  1
polecat                      1
bonnet                       1
timber_wolf                  1
lacewing                     1
electric_fan                 1
rotisserie                   1
clumber                      1
pillow                       1
lynx                         1
pencil_box                   1
Egyptian_cat                 1
fiddler_crab                 1
cliff                        1
harp                         1
maze                         1
water_bottle                 1
book_jacket                  1
starfish                     1
basketball                   1
lion                         1
cheeseburger                 1
water_buffalo                1
bald_eagle                   1
remote_control               1
microwave                    1
Name: p1, Length: 378, dtype: int64

In [592]:
# check some observations which are predicted as web site
df_prediction[df_prediction["p1"]=="web_site"]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,0.000201,False,oscilloscope,0.000142,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,0.000081,True,collie,0.000069,True
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,0.001363,False,badger,0.000686,False
213,670040295598354432,https://pbs.twimg.com/media/CUx2F6lVEAAvFev.jpg,1,web_site,0.901552,False,borzoi,0.026660,True,Chihuahua,0.012438,True
270,670822709593571328,https://pbs.twimg.com/media/CU89schWIAIHQmA.jpg,1,web_site,0.993887,False,Chihuahua,0.001252,True,menu,0.000599,False
715,685547936038666240,https://pbs.twimg.com/media/CYOONfZW8AA7IOA.jpg,1,web_site,0.923987,False,oscilloscope,0.009712,False,hand-held_computer,0.008769,False
960,705786532653883392,https://pbs.twimg.com/media/Cct1G6vVAAI9ZjF.jpg,1,web_site,0.550294,False,Labrador_retriever,0.148496,True,golden_retriever,0.148482,True
1210,742465774154047488,https://pbs.twimg.com/media/Ck3EribXEAAPhZn.jpg,1,web_site,0.997154,False,comic_book,0.000439,False,desktop_computer,0.000268,False
1317,755206590534418437,https://pbs.twimg.com/media/CnsIT0WWcAAul8V.jpg,1,web_site,0.906673,False,printer,0.008600,False,carton,0.004533,False
1443,775729183532220416,https://pbs.twimg.com/media/CsPxk85XEAAeMQj.jpg,1,web_site,0.989407,False,hand-held_computer,0.002139,False,menu,0.002115,False
1447,776088319444877312,https://pbs.twimg.com/media/CsU4NKkW8AUI5eG.jpg,3,web_site,0.999916,False,pug,0.000077,True,menu,0.000002,False
1549,792913359805018113,https://pbs.twimg.com/media/CwD-eCLWIAA6v0B.jpg,4,web_site,0.226716,False,lighter,0.081941,False,switch,0.039009,False
1626,804026241225523202,https://pbs.twimg.com/media/Cyh5mQTW8AQpB6K.jpg,1,web_site,0.492709,False,envelope,0.050566,False,guillotine,0.015297,False
1696,816450570814898180,https://pbs.twimg.com/media/C1SddosXUAQcVR1.jpg,1,web_site,0.352857,False,envelope,0.060107,False,nail,0.031291,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,0.001406,False,envelope,0.001093,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,0.101565,False,screen,0.075306,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,0.007087,False,envelope,0.006820,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,0.026306,False,crossword_puzzle,0.003482,False
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,0.017326,False,golden_retriever,0.006941,True

In [593]:
# check statistic
df_prediction.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17  1.203855     0.594548     1.345886e-01  6.032417e-02
std    6.785203e+16  0.561875     0.271174     1.006657e-01  5.090593e-02
min    6.660209e+17  1.000000     0.044333     1.011300e-08  1.740170e-10
25%    6.764835e+17  1.000000     0.364412     5.388625e-02  1.622240e-02
50%    7.119988e+17  1.000000     0.588230     1.181810e-01  4.944380e-02
75%    7.932034e+17  1.000000     0.843855     1.955655e-01  9.180755e-02
max    8.924206e+17  4.000000     1.000000     4.880140e-01  2.734190e-01

In [594]:
# check how many observations are at least predicted as a dog at once
df_prediction[df_prediction["p1_dog"] | df_prediction["p2_dog"] | df_prediction["p3_dog"]].tweet_id.count()

1751

> some pictures are not predicted as a dog at all

## Quality - df_prediction
- tweet_id data type from int to string
- There are pictures which are predicted as non-dogs --> remove

## tidiness
- it should only contain p, p_conf --> take the highest prediction with dog spieces for each observation

# Gather
### Third data set
> scrape data through twitter API

In [18]:
# save Json data into csv file for each tweets in the df_archive/https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/
import json
import time

# create a dict of error id
error_ids={}

# count start time
start = time.time()
# create a file
with open ("tweet_json.txt", "w") as outfile:
    # loop through each tweet_id in the df_archieve
    for i in df_archive.tweet_id:
        try:
            tweet = api.get_status(i, tweet_mode="extended")
    
            # convert status structure to json
            json.dump(tweet._json, outfile)
            # create new line
            outfile.write("\n")
            
        except tweepy.TweepError as e:
            error_ids[i]=e
            
# count end time            
end = time.time()
# count how long it takes to run the loop
print(end-start)
# check error id
print(error_ids)

Rate limit reached. Sleeping for: 219
Rate limit reached. Sleeping for: 688

1471.033299446106
{888202515573088257: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 873697596434513921: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 872668790621863937: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 869988702071779329: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 866816280283807744: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 861769973181624320: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 845459076796616705: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 842892208864923648: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 837012587749474308: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 827228250799742977: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 812747805718642688: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 802247111496568832: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 775096608509886464: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 770743923962707968: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 754011816964026368: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 680055455951884288: TweepError([{'code': 144, 'message': 'No status found with that ID.'}])}

>some tweets are not accessible anymore

In [595]:
# create a list with retweet counts and favorite counts, then generate a dictionary
# https://stackoverflow.com/questions/28056171/how-to-build-and-fill-pandas-dataframe-from-for-loop/28058264#28058264

df_list = []

with open ("tweet_json.txt",encoding="utf-8") as file:
    
    # loop through texts
    for line in file:
       
        # change string json format
        json_file = json.loads(line)
        # get tweet id
        tweet_id = json_file["id"]
        # get retweet count
        retweet_count = json_file["retweet_count"]
        # get favorite count
        favorite_count = json_file["favorite_count"]
    

        df_list.append({"tweet_id":tweet_id,
                        "retweet_count":retweet_count,
                       "favorite_count":favorite_count})

# create a data frame
df_tweet_json = pd.DataFrame(df_list,columns=["tweet_id","retweet_count","favorite_count"])

# Assess

In [596]:
# check the data frame
df_tweet_json.sample(5)

                tweet_id  retweet_count  favorite_count
2180  668852170888998912  171            459
1972  672834301050937345  585            1332
136   864873206498414592  8755           32262
2016  671763349865160704  949            1710
1986  672481316919734272  128            726

In [597]:
# check info
df_tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null int64
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

## Quality - df_tweet_json
- tweet_id data type from int to string

# Clean

In [598]:
# create copy data
df1_clean = df_archive.copy()
df2_clean = df_prediction.copy()
df3_clean = df_tweet_json.copy()

# missing data & drop columns

## df1_clean

In [599]:
df1_clean.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
752,778990705243029504,NaN,NaN,2016-09-22 16:13:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jay. He's really h*ckin happy about the start of fall. Sneaky tongue slip in 2nd pic. 11/10 snuggly af https://t.co/vyx1X5eyWI,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/778990705243029504/photo/1,https://twitter.com/dog_rates/status/778990705243029504/photo/1",11,10,Jay,None,None,None,None
1888,674781762103414784,NaN,NaN,2015-12-10 02:44:43 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Bedazzled pup here. Fashionable af. Super yellow. Looks hella fluffy. Webbed paws for efficient fetching. 8/10 https://t.co/ot8yMUGodj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674781762103414784/photo/1,8,10,None,None,None,None,None
2315,666691418707132416,NaN,NaN,2015-11-17 18:56:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Christoper. He is a spotted Penne. Can easily navigate stairs. 8/10 https://t.co/bg4TqvvkuF,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666691418707132416/photo/1,8,10,Christoper,None,None,None,None
1624,684880619965411328,NaN,NaN,2016-01-06 23:33:58 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a basking dino pupper. Looks powerful. Occasionally shits eggs. Doesn't want the holidays to end. 5/10 https://t.co/DnNweb5eTO,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684880619965411328/photo/1,5,10,None,None,None,pupper,None
1411,698989035503689728,NaN,NaN,2016-02-14 21:55:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Oliver. He does toe touches in his sleep. 13/10 precious af https://t.co/3BrRIWjG35,NaN,NaN,NaN,https://twitter.com/dog_rates/status/698989035503689728/photo/1,13,10,Oliver,None,None,None,None

In [600]:
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

> There are missing value for in_reply..columns, retweeted... columns, name column and expanded_urls.

> in_reply... columns, retweet... columns and name column are not handled here.

## Define
> expanded_urls column contains nan and it can be replaced with "https://twitter.com/dog_rates/status/" + own tweet_id

In [601]:
# set url for concatenating
url_front ="https://twitter.com/dog_rates/status/"
url_end ="/photo/1"

In [602]:
# if expanded urls col is na then add the defined url + tweet id for url
df1_clean.loc[df1_clean.expanded_urls.isna(),"expanded_urls"]=url_front + df1_clean["tweet_id"].map(str) + url_end

## Test

In [603]:
# check if na is gone
df1_clean[df1_clean.expanded_urls.isna()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

## Define
> Original tweet should be included in this analysis. Therefore, retweets are removed from this data set.
Then retweet...columns are not required anymore.

In [604]:
# remove retweets from this data set
df1_clean = df1_clean[df1_clean["retweeted_status_id"].isna()]

In [605]:
# drop unrequired columns
df1_clean=df1_clean.drop(columns=["retweeted_status_id","retweeted_status_user_id","retweeted_status_timestamp"], axis=1)

In [606]:
# reset index
df1_clean.reset_index(inplace=True,drop=True)

## test

In [607]:
# check if unrequired columns are removed and number of observation is smaller
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 14 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2175 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 238.0+ KB

## Test

# Tidiness

## define
> in reply to status id and user_id are not both needed. Create a new column called replied and then remove the both columns

In [608]:
# first create a new column with the in reply to status id, then replace it with boolean
df1_clean["replied"] = df1_clean["in_reply_to_status_id"]
df1_clean["replied"] = df1_clean["replied"].notna()

In [609]:
# delete in reply to status id and user_id

df1_clean.drop(columns=["in_reply_to_status_id","in_reply_to_user_id"], axis=1, inplace=True)

## Test

In [610]:
# check if the replied column contains boolean
df1_clean.replied.value_counts()

False    2097
True     78
Name: replied, dtype: int64

In [611]:
# check if "in_reply_to_status_id","in_reply_to_user_id" are removed from the data set
list(df1_clean)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'replied']

## Define
> reshape the data frame so that it has only one column for a dog stage

> first generate a column with dummy variable to check a tweet with a dog stage, then melt the data frame

> As melting a data frame creates duplicates, it is necessary to remove them

In [612]:
# replace None with nan
import numpy as np
df1_clean.replace("None",np.nan,inplace=True)

In [613]:
# replace nan with an empty space to concatnate strings
df1_clean[["doggo","floofer","pupper","puppo"]]=df1_clean[["doggo","floofer","pupper","puppo"]].fillna("")

In [614]:
# check the result
df1_clean.sample()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,replied
59,880095782870896641,2017-06-28 16:09:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Please don't send in photos without dogs in them. We're not @porch_rates. Insubordinate and churlish. Pretty good porch tho 11/10 https://t.co/HauE8M3Bu4,https://twitter.com/dog_rates/status/880095782870896641/photo/1,11,10,NaN,,,,,False

In [615]:
# concatnate dog stage columns to create a new column "stage"
df1_clean["stage"]=(df1_clean["doggo"] + df1_clean["floofer"] + df1_clean["pupper"] + df1_clean["puppo"])

In [616]:
# check unique stages
df1_clean.stage.unique()

array(['', 'doggo', 'puppo', 'pupper', 'floofer', 'doggopuppo',
       'doggofloofer', 'doggopupper'], dtype=object)

> There are tweets with multiple dog stages. It needs to be solved.

In [617]:
# Handle multiple stages
df1_clean.loc[df1_clean.stage == 'doggopupper', 'stage'] = 'doggo,pupper'
df1_clean.loc[df1_clean.stage == 'doggopuppo', 'stage'] = 'doggo,puppo'
df1_clean.loc[df1_clean.stage == 'doggofloofer', 'stage'] = 'doggo,floofer'

# Handle missing values through change empty stages to na
df1_clean.loc[df1_clean.stage == '', 'stage'] = np.nan

In [618]:
# check the result
df1_clean[df1_clean["stage"].notna()].stage.unique()

array(['doggo', 'puppo', 'pupper', 'floofer', 'doggo,puppo',
       'doggo,floofer', 'doggo,pupper'], dtype=object)

In [619]:
# drop "doggo","floofer","pupper","puppo" columns
df1_clean.drop(columns=["doggo","floofer","pupper","puppo"],axis=1,inplace=True)

In [620]:
# reset index
df1_clean.reset_index(inplace=True,drop=True)

## Test

In [621]:
# check number of observations
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 10 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  1495 non-null object
replied               2175 non-null bool
stage                 344 non-null object
dtypes: bool(1), int64(3), object(6)
memory usage: 155.1+ KB

In [622]:
# check data structure
df1_clean.sample(2)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage
1672,675710890956750848,2015-12-12 16:16:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Lenny. He was just told that he couldn't explore the fish tank. 12/10 smh all that work for nothing https://t.co/JWi6YrpiO1,"https://twitter.com/dog_rates/status/675710890956750848/photo/1,https://twitter.com/dog_rates/status/675710890956750848/photo/1",12,10,Lenny,False,NaN
410,813157409116065792,2016-12-25 23:00:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Layla. It is her first Christmas. She got to be one of the presents. 12/10 I wish my presents would bark https://t.co/hwhCbhCjnV,"https://twitter.com/dog_rates/status/813157409116065792/photo/1,https://twitter.com/dog_rates/status/813157409116065792/photo/1,https://twitter.com/dog_rates/status/813157409116065792/photo/1,https://twitter.com/dog_rates/status/813157409116065792/photo/1",12,10,Layla,False,NaN

In [623]:
# make pick up checks with the original data
df1_clean[df1_clean.tweet_id ==881536004380872706].stage

53    pupper
Name: stage, dtype: object

In [624]:
df_archive[df_archive.tweet_id ==881536004380872706].pupper

56    pupper
Name: pupper, dtype: object

## df2_clean

## Definition
There are prediction 1,2 and 3 in this data set which are not neccesarry. Chose only a dog spiece with the highest confidence each row. Tweets which are not predicted as a dog are set as missing value.

In [625]:
df2_clean.sample()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1893,849412302885593088,https://pbs.twimg.com/media/C8m3-iQVoAAETnF.jpg,4,schipperke,0.907559,True,crossword_puzzle,0.017934,False,Chihuahua,0.016191,True

In [626]:
# create new columns prediction and confidence
df2_clean["prediction"] = df2_clean["p1_dog"].map(str) + df2_clean["p2_dog"].map(str) + df2_clean["p3_dog"].map(str)
df2_clean["confidence"] = np.nan

In [627]:
# first prediction is true / confidence
df2_clean.loc[df2_clean.prediction == 'TrueTrueTrue', 'confidence'] = df2_clean.p1_conf
df2_clean.loc[df2_clean.prediction == 'TrueFalseTrue', 'confidence'] = df2_clean.p1_conf
df2_clean.loc[df2_clean.prediction == 'TrueTrueFalse', 'confidence'] = df2_clean.p1_conf
df2_clean.loc[df2_clean.prediction == 'TrueFalseFalse', 'confidence'] = df2_clean.p1_conf

# first prediction is true / prediction
df2_clean.loc[df2_clean.prediction == 'TrueTrueTrue', 'prediction'] = df2_clean.p1
df2_clean.loc[df2_clean.prediction == 'TrueFalseTrue', 'prediction'] = df2_clean.p1
df2_clean.loc[df2_clean.prediction == 'TrueTrueFalse', 'prediction'] = df2_clean.p1
df2_clean.loc[df2_clean.prediction == 'TrueFalseFalse', 'prediction'] = df2_clean.p1



# second prediction is true / confidence
df2_clean.loc[df2_clean.prediction == 'FalseTrueTrue', 'confidence'] = df2_clean.p2_conf
df2_clean.loc[df2_clean.prediction == 'FalseTrueFalse', 'confidence'] = df2_clean.p2_conf

# second prediction is true / prediction
df2_clean.loc[df2_clean.prediction == 'FalseTrueTrue', 'prediction'] = df2_clean.p2
df2_clean.loc[df2_clean.prediction == 'FalseTrueFalse', 'prediction'] = df2_clean.p2

# Third prediction is true / confidence
df2_clean.loc[df2_clean.prediction == 'FalseFalseTrue', 'confidence'] = df2_clean.p3_conf

# Third prediction is True / prediction
df2_clean.loc[df2_clean.prediction == 'FalseFalseTrue', 'prediction'] = df2_clean.p3


# no dog
df2_clean.loc[df2_clean.prediction == 'FalseFalseFalse', 'prediction'] = np.nan

In [628]:
# drop p1, p1_conf, p1_dog,p2, p2_conf, p2_dog,p3, p3_conf, p3_dog
df2_clean.drop(columns=["p1","p1_conf","p1_dog","p2","p2_conf","p2_dog","p3","p3_conf","p3_dog"],inplace=True,axis=1)

## Test

In [629]:
# check randomly
df2_clean.sample(30)

,tweet_id,jpg_url,img_num,prediction,confidence
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,NaN,NaN
1104,722613351520608256,https://pbs.twimg.com/media/Cgc9AjMVIAERdUA.jpg,1,Labrador_retriever,0.530915
280,671115716440031232,https://pbs.twimg.com/media/CVBILUgVAAA1ZUr.jpg,1,malinois,0.406341
1684,814153002265309185,https://pbs.twimg.com/media/C0xz04SVIAAeyDb.jpg,1,golden_retriever,0.490068
85,667509364010450944,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,1,beagle,0.636169
135,668496999348633600,https://pbs.twimg.com/media/CUb6ebKWcAAJkd0.jpg,1,Staffordshire_bullterrier,0.412879
1200,740995100998766593,https://pbs.twimg.com/media/CkiLHCjUUAAPwUr.jpg,1,malamute,0.454363
279,671109016219725825,https://pbs.twimg.com/media/CVBCFkyU4AE2Wcr.jpg,1,basenji,0.855959
1892,849336543269576704,https://pbs.twimg.com/media/C8lzFC4XcAAQxB4.jpg,1,NaN,NaN
55,667062181243039745,https://pbs.twimg.com/media/CUHhgvHUAAA4aB0.jpg,1,Chesapeake_Bay_retriever,0.825678
866,697482927769255936,https://pbs.twimg.com/media/Ca31BTgWwAA4uNU.jpg,1,NaN,NaN
1732,821149554670182400,https://pbs.twimg.com/ext_tw_video_thumb/821149477142556673/pu/img/88_DV098c60pC5AA.jpg,1,German_shepherd,0.515933
264,670797304698376195,https://pbs.twimg.com/media/CU8mlhoVAAAteS5.jpg,1,Pembroke,0.472197
30,666418789513326592,https://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg,1,toy_terrier,0.149680
1582,796759840936919040,https://pbs.twimg.com/media/Cw6o1JQXcAAtP78.jpg,1,American_Staffordshire_terrier,0.463996
1660,811627233043480576,https://pbs.twimg.com/media/C0N6opSXAAAkCtN.jpg,1,beagle,0.396280
754,688211956440801280,https://pbs.twimg.com/ext_tw_video_thumb/688211379870806016/pu/img/OI0VTwPYnsScQg8R.jpg,1,NaN,NaN
86,667517642048163840,https://pbs.twimg.com/media/CUN_wiBUkAAakT0.jpg,1,Italian_greyhound,0.125176
1534,790277117346975746,https://pbs.twimg.com/media/Cveg1-NXgAASaaT.jpg,1,Labrador_retriever,0.427742
764,688916208532455424,https://pbs.twimg.com/media/CY-Fn1FWEAQhzhs.jpg,1,Pembroke,0.430544
235,670427002554466305,https://pbs.twimg.com/media/CU3VzVwWwAAAsst.jpg,1,toy_terrier,0.038872
1476,780496263422808064,https://pbs.twimg.com/media/Ck2d7tJWUAEPTL3.jpg,1,pug,0.997310
767,689275259254616065,https://pbs.twimg.com/media/CZDMMY0WEAAQYjQ.jpg,1,American_Staffordshire_terrier,0.215161
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108
513,676219687039057920,https://pbs.twimg.com/media/CWJqN9iWwAAg86R.jpg,1,whippet,0.000132
1161,734787690684657664,https://pbs.twimg.com/media/CjJ9gQ1WgAAXQtJ.jpg,4,golden_retriever,0.883991
1552,793150605191548928,https://pbs.twimg.com/media/CwHWOZ7W8AAHv8S.jpg,1,Italian_greyhound,0.193869
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517
1888,848212111729840128,https://pbs.twimg.com/media/C8V0aI5V0AAgO9m.jpg,1,Bedlington_terrier,0.333486
643,681523177663676416,https://pbs.twimg.com/media/CXVBtX_WwAEuqbP.jpg,1,Norfolk_terrier,0.205067

# Quality
## df1_clean

## Definition
name and rating columns need to be revised. Therefore, to create new columns name_check and rate check.

In [630]:
# get names from the text
# with Regex extract 2 types of name introduction
df1_clean[["a","b","c","d"]]=df1_clean.text.str.extract("(This is [A-Z][']?\w+)|(Meet [A-Z][']?\w+)|(Say hello to [A-Z][']?\w+)|(Here is [A-Z][']?\w+)")
# concatnate 2 columns a, b, c,d
df1_clean[["a","b","c","d"]] = df1_clean[["a","b","c","d"]].fillna("")
df1_clean["name_check"] = df1_clean["a"].map(str) + df1_clean["b"].map(str)+ df1_clean["c"].map(str)+df1_clean["d"].map(str)
# get only the last part which is name
df1_clean.name_check = df1_clean.name_check.str.split(" ").str[-1]
# drop a b column
df1_clean.drop(columns=["a","b","c","d"],axis=1,inplace=True)
df1_clean.reset_index(inplace=True,drop=True)
df1_clean.loc[df1_clean["name_check"]=="","name_check"] = np.nan

In [631]:
# get rate
df1_clean["rate_check"]=df1_clean.text.str.extract('(\d+/\d{2,3})')
df1_clean.rate_check=df1_clean.rate_check.str.split("/").str[0]

In [632]:
# change data type
df1_clean[df1_clean.rate_check.isna()]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,name_check,rate_check
429,810984652412424192,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,False,NaN,Sam,NaN

In [633]:
# change nan to 0 as there is no rate
df1_clean.loc[df1_clean.rate_check.isna(),"rate_check"] = 0

In [634]:
# change data type for rate
df1_clean.rate_check=df1_clean.rate_check.astype("int64")

In [635]:
# check data type
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 12 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  1495 non-null object
replied               2175 non-null bool
stage                 344 non-null object
name_check            1391 non-null object
rate_check            2175 non-null int64
dtypes: bool(1), int64(4), object(7)
memory usage: 189.1+ KB

In [636]:
# replace nan with"" so that it can be compared
df1_clean[["name","name_check"]]=df1_clean[["name","name_check"]].fillna("")

In [637]:
# check inconcistent names
df1_clean[df1_clean.name != df1_clean.name_check].name.unique()

array(['such', 'a', 'quite', 'not', 'one', 'incredibly', 'O', 'very',
       'my', 'his', 'an', 'actually', 'just', 'getting', 'mad', 'this',
       'unacceptable', 'all', 'old', 'infuriating', 'the', 'by',
       'officially', 'life', 'light', 'space'], dtype=object)

>There is no name like results above, so I will rewrite name column withme check column. Then I will drop the name check column.

In [638]:
# copy name_check columns to name column
df1_clean["name"] = df1_clean.name_check

In [639]:
# check any differences
df1_clean[df1_clean.name != df1_clean.name_check].name.unique()

array([], dtype=object)

In [640]:
# drop name_check
df1_clean=df1_clean.drop("name_check",axis=1)

In [641]:
# replace "" with nan
df1_clean.name = df1_clean.name.replace("",np.nan)

In [642]:
# check any differences in rates
df1_clean[df1_clean.rating_numerator != df1_clean.rate_check]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rate_check
429,810984652412424192,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,False,NaN,0
2154,666287406224695296,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,NaN,False,NaN,9

In [643]:
# check rate_check with 0
df1_clean[df1_clean.rate_check==0]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rate_check
265,835152434251116546,2017-02-24 15:40:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag,"https://twitter.com/dog_rates/status/835152434251116546/photo/1,https://twitter.com/dog_rates/status/835152434251116546/photo/1,https://twitter.com/dog_rates/status/835152434251116546/photo/1",0,10,NaN,False,NaN,0
429,810984652412424192,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,False,NaN,0
840,746906459439529985,2016-06-26 03:22:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX",https://twitter.com/dog_rates/status/746906459439529985/photo/1,0,10,NaN,True,NaN,0

> rating_denominator should be fixed too

In [644]:
# replace with figures from the text
df1_clean.loc[df1_clean.rating_numerator != df1_clean.rate_check,"rating_denominator"] = (np.nan,10)

In [645]:
# check
df1_clean.loc[df1_clean.rating_numerator != df1_clean.rate_check,"rating_denominator"]
df1_clean.loc[429,"rating_denominator"] = np.nan

In [646]:
# replace data
df1_clean.loc[df1_clean.rating_numerator != df1_clean.rate_check,"rating_numerator"] =df1_clean.loc[df1_clean.rating_numerator != df1_clean.rate_check,"rate_check"]

In [647]:
# check results
df1_clean.loc[df1_clean.rating_numerator != df1_clean.rate_check,"rating_numerator"]

Series([], Name: rating_numerator, dtype: int64)

In [648]:
# drop rate_check
df1_clean=df1_clean.drop("rate_check",axis=True)

## Test

In [649]:
#check results
df1_clean.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage
926,735137028879360001,2016-05-24 15:55:00 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Buckley. His family &amp; some neighbors came over to watch him perform but he's nervous af. 9/10 u got this pupper https://t.co/5bdCpPlno9,https://twitter.com/dog_rates/status/735137028879360001/photo/1,9,10.0,Buckley,False,pupper
295,831322785565769729,2017-02-14 02:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Pete. He has no eyes. Needs a guide doggo. Also appears to be considerably fluffy af. 12/10 would hug softly https://t.co/Xc0gyovCtK,https://twitter.com/dog_rates/status/831322785565769729/photo/1,12,10.0,Pete,False,doggo
1648,676430933382295552,2015-12-14 15:57:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Duke. He's an Urban Parmesan. They know he's scared of the green rubber dog. ""Why u do dis?"" thinks Duke. 10/10 https://t.co/3bim9U5Idr",https://twitter.com/dog_rates/status/676430933382295552/photo/1,10,10.0,Duke,False,NaN
240,839549326359670784,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Winston. He knows he's a little too big for the swing, but he doesn't care. Kindly requests a push. 12/10 would happily oblige https://t.co/GuxEXTdnMu",https://twitter.com/dog_rates/status/839549326359670784/photo/1,12,10.0,Winston,False,NaN
1608,677565715327688705,2015-12-17 19:07:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Contortionist pup here. Inside pentagram. Clearly worships Satan. Known to slowly push fragile stuff off tables 6/10 https://t.co/EX9oR55VMe,https://twitter.com/dog_rates/status/677565715327688705/photo/1,6,10.0,NaN,False,NaN

In [650]:
# info
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 10 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2174 non-null float64
name                  1391 non-null object
replied               2175 non-null bool
stage                 344 non-null object
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 155.1+ KB

In [651]:
# describe
df1_clean.describe()

           tweet_id  rating_numerator  rating_denominator
count  2.175000e+03  2175.000000       2174.000000
mean   7.371205e+17  13.207816         10.498160
std    6.748668e+16  47.725343         7.017941
min    6.660209e+17  0.000000          0.000000
25%    6.768432e+17  10.000000         10.000000
50%    7.098528e+17  11.000000         10.000000
75%    7.894226e+17  12.000000         10.000000
max    8.924206e+17  1776.000000       170.000000

In [652]:
# check bigger figures
df1_clean[df1_clean.rating_numerator>1000]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage
804,749981277374128128,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>",This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh,https://twitter.com/dog_rates/status/749981277374128128/photo/1,1776,10.0,Atticus,False,NaN

In [654]:
# check bigger figures
df1_clean[df1_clean.rating_denominator>100]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage
733,758467244762497024,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150.0,NaN,False,NaN
942,731156023742988288,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170.0,NaN,False,NaN
1455,684225744407494656,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3","https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130.0,NaN,True,NaN
1456,684222868335505415,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110.0,NaN,False,NaN
1600,677716515794329600,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120.0,NaN,False,NaN

In [658]:
# create a new column to minimize irregular ratings
df1_clean["rating_impact"]=df1_clean.rating_numerator /df1_clean.rating_denominator


## Definition

tweet id should be string, timestamp should be date type

In [659]:
df1_clean.sample()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rating_impact
733,758467244762497024,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150.0,NaN,False,NaN,1.1

In [660]:
# change data types
df1_clean.tweet_id =df1_clean.tweet_id.astype(str)
df1_clean.timestamp =pd.to_datetime(df1_clean.timestamp)

# Test

In [661]:
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 11 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2174 non-null float64
name                  1391 non-null object
replied               2175 non-null bool
stage                 344 non-null object
rating_impact         2174 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 172.1+ KB

## Definition
Source columns include unecesarry parts. extract only useful infomation.

In [662]:
# check key words
df1_clean.source.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [663]:
# exract key words
df1_clean.source=df1_clean.source.str.extract("(>.*<)")

# remove some character
df1_clean.source=df1_clean.source.str.replace(">","")
df1_clean.source=df1_clean.source.str.replace("<","")

## Test

In [664]:
# check
df1_clean.source.unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

## Define

In [665]:
# check urls which contains more than 2 urls
df1_clean[df1_clean.expanded_urls.str.split(",").str.len()>1]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rating_impact
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10.0,Franklin,False,NaN,1.2
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\nhttps://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl,"https://gofundme.com/ydvmve-surgery-for-jax,https://twitter.com/dog_rates/status/890971913173991426/photo/1",13,10.0,Jax,False,NaN,1.3
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1",13,10.0,NaN,False,NaN,1.3
10,890006608113172480,2017-07-26 00:31:25,Twitter for iPhone,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme,"https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/status/890006608113172480/photo/1",13,10.0,Koda,False,NaN,1.3
13,889638837579907072,2017-07-25 00:10:02,Twitter for iPhone,This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist https://t.co/f8dEDcrKSR,"https://twitter.com/dog_rates/status/889638837579907072/photo/1,https://twitter.com/dog_rates/status/889638837579907072/photo/1",12,10.0,Ted,False,NaN,1.2
17,888804989199671297,2017-07-22 16:56:37,Twitter for iPhone,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K,"https://twitter.com/dog_rates/status/888804989199671297/photo/1,https://twitter.com/dog_rates/status/888804989199671297/photo/1",13,10.0,Zeke,False,NaN,1.3
18,888554962724278272,2017-07-22 00:23:06,Twitter for iPhone,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK,"https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1",13,10.0,Ralphus,False,NaN,1.3
19,888078434458587136,2017-07-20 16:49:33,Twitter for iPhone,This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway https://t.co/DK7iDPfuRX,"https://twitter.com/dog_rates/status/888078434458587136/photo/1,https://twitter.com/dog_rates/status/888078434458587136/photo/1",12,10.0,Gerald,False,NaN,1.2
22,887473957103951883,2017-07-19 00:47:34,Twitter for iPhone,This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10.0,Canela,False,NaN,1.3
25,886983233522544640,2017-07-17 16:17:36,Twitter for iPhone,This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in https://t.co/I6oNy0CgiT,"https://twitter.com/dog_rates/status/886983233522544640/photo/1,https://twitter.com/dog_rates/status/886983233522544640/photo/1",13,10.0,Maya,False,NaN,1.3
26,886736880519319552,2017-07-16 23:58:41,Twitter for iPhone,"This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\n\nhttps://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b","https://www.gofundme.com/mingusneedsus,https://twitter.com/dog_rates/status/886736880519319552/photo/1,https://twitter.com/dog_rates/status/886736880519319552/photo/1",13,10.0,Mingus,False,NaN,1.3
28,886366144734445568,2017-07-15 23:25:31,Twitter for iPhone,This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe https://t.co/RGE08MIJox,"https://twitter.com/dog_rates/status/886366144734445568/photo/1,https://twitter.com/dog_rates/status/886366144734445568/photo/1",12,10.0,Roscoe,False,pupper,1.2
34,885167619883638784,2017-07-12 16:03:00,Twitter for iPhone,Here we have a corgi undercover as a malamute. Pawbably doing important investigative work. Zero control over tongue happenings. 13/10 https://t.co/44ItaMubBf,"https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1",13,10.0,NaN,False,NaN,1.3
36,884876753390489601,2017-07-11 20:47:12,Twitter for iPhone,This is Lola. It's her first time outside. Must test the earth and taste the atmosphere. 13/10 you're doing great Lola https://t.co/74TKAUsLkO,"https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1",13,10.0,Lola,False,NaN,1.3
42,883482846933004288,2017-07-08 00:28:19,Twitter for iPhone,"This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948","https://twitter.com/dog_rates/status/883482846933004288/photo/1,https://twitter.com/dog_rates/status/883482846933004288/photo/1",5,10.0,Bella,False,NaN,0.5
44,883117836046086144,2017-07-07 00:17:54,Twitter for iPhone,"Please only send dogs. We don't rate mechanics, no matter how h*ckin good. Thank you... 13/10 would sneak a pat https://t.co/Se5fZ9wp5E","https://twitter.com/dog_rates/status/883117836046086144/photo/1,https://twitter.com/dog_rates/status/883117836046086144/photo/1",13,10.0,NaN,False,NaN,1.3
45,882992080364220416,2017-07-06 15:58:11,Twitter for iPhone,This is Rusty. He wasn't ready for the first pic. Clearly puppared for the second. 13/10 confirmed great boy https://t.co/tyER0KpdXj,"https://twitter.com/dog_rates/status/882992080364220416/photo/1,https://twitter.com/dog_rates/status/882992080364220416/photo/1",13,10.0,Rusty,False,NaN,1.3
48,882268110199369728,2017-07-04 16:01:23,Twitter for iPhone,This is Alfy. You're witnessing his first watermelon experience. I think it was a success. 13/10 happy 4th Alfy 🇺🇸 https://t.co/fYP5RlutfA,"https://twitter.com/dog_rates/status/882268110199369728/photo/1,https://twitter.com/dog_rates/status/882268110199369728/photo/1,https://twitter.com/dog_rates/status/882268110199369728/photo/1",13,10.0,Alfy,False,NaN,1.3
49,882045870035918850,2017-07-04 01:18:17,Twitter for iPhone,"This is Koko. Her owner, inspired by Barney, recently built a cart for her to use during walks if she got tired. 13/10 rest easy Koko https://t.co/zeDpnsKX7w","https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1",13,10.0,Koko,False,NaN,1.3
57,880465832366813184,2017-06-29 16:39:47,Twitter for iPhone,This is Bella. She had her first beach experience this morning. Complete success. 12/10 would perform a sandy boop https://t.co/4VsFysDmiw,"https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1",12,10.0,Bella,False,NaN,1.2
58,880221127280381952,2017-06-29 00:27:25,Twitter for iPhone,Meet Jesse. He's a Fetty Woof. His tongue ejects without warning. A true bleptomaniac. 12/10 would snug well https://t.co/fUod0tVmvK,"https://twitter.com/dog_rates/status/880221127280381952/photo/1,https://twitter.com/dog_rates/status/880221127280381952/photo/1",12,10.0,Jesse,False,NaN,1.2
60,879862464715927552,2017-06-28 00:42:13,Twitter for iPhone,This is Romeo. He would like to do an entrance. Requesting your immediate assistance. 13/10 https://t.co/Qh5aEkRQm9,"https://twitter.com/dog_rates/status/879862464715927552/photo/1,https://twitter.com/dog_rates/status/879862464715927552/photo/1,https://twitter.com/dog_rates/status/879862464715927552/photo/1",13,10.0,Romeo,False,NaN,1.3
67,878776093423087618,2017-06-25 00:45:22,Twitter for iPhone,This is Snoopy. He's a proud #PrideMonthPuppo. Impeccable handwriting for not having thumbs. 13/10 would love back #PrideMonth https://t.co/lNZwgNO4gS,"https://twitter.com/dog_rates/status/878776093423087618/photo/1,https://twitter.com/dog_rates/status/878776093423087618/photo/1",13,10.0,Snoopy,False,puppo,1.3
69,878281511006478336,2017-06-23 16:00:04,Twitter for iPhone,"Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below\n\nhttps://t.co/245xJJElsY https://t.co/lUiQH219v6","https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1",13,10.0,Shadow,False,NaN,1.3
70,878057613040115712,2017-06-23 01:10:23,Twitter for iPhone,This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://t.co/cwtWnHMVpe,"https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1",14,10.0,Emmy,False,NaN,1.4
71,877736472329191424,2017-06-22 03:54:17,Twitter for iPhone,This is Aja. She was just told she's a good dog. Suspicions confirmed. 13/10 would tell again https://t.co/lsPyyAiF1r,"https://twitter.com/dog_rates/status/877736472329191424/photo/1,https://twitter.com/dog_rates/status/877736472329191424/photo/1",13,10.0,Aja,False,NaN,1.3
73,877316821321428993,2017-06-21 00:06:44,Twitter for iPhone,"Meet Dante. At first he wasn't a fan of his new raincoat, then he saw his reflection. H*ckin handsome. 13/10 for water resistant good boy https://t.co/SHRTIo5pxc","https://twitter.com/dog_rates/status/877316821321428993/photo/1,https://twitter.com/dog_rates/status/877316821321428993/photo/1",13,10.0,Dante,False,NaN,1.3
74,877201837425926144,2017-06-20 16:29:50,Twitter for iPhone,This is Nelly. He graduated with his dogtorate today. Wants to know if you're proud of him. 12/10 would give congratulatory boop https://t.co/4g4cfj3P4Y,"https://twitter.com/dog_rates/status/877201837425926144/photo/1,https://twitter.com/dog_rates/status/877201837425926144/photo/1",12,10.0,Nelly,False,NaN,1.2
75,876838120628539392,2017-06-19 16:24:33,Twitter for iPhone,This is Ginger. She's having a ruff Monday. Too many pupper things going on. H*ckin exhausting. 12/10 would snug passionately https://t.co/j211oCDRs6,"https://twitter.com/dog_rates/status/876838120628539392/photo/1,https://twitter.com/dog_rates/status/876838120628539392/photo/1",12,10.0,Ginger,False,pupper,1.2
82,875021211251597312,2017-06-14 16:04:48,Twitter for iPhone,Guys please stop sending pictures without any dogs in th- oh never mind hello excuse me sir. 12/10 stealthy as h*ck https://t.co/brCQoqc8AW,"https://twitter.com/dog_rates/status/875021211251597312/photo/1,https://twitter.com/dog_rates/status/875021211251597312/photo/1",12,10.0,NaN,False,NaN,1.2
...,...,...,...,...,...,...,...,...,...,...,...
1647,676440007570247681,2015-12-14 16:34:00,Twitter for iPhone,Hope your Monday isn't too awful. Here's two baseball puppers. 11/10 for each https://t.co/dB0H9hdZai,"https://twitter.com/dog_rates/status/676440007570247681/photo/1,https://twitter.com/dog_rates/status/676440007570247681/photo/1",11,10.0,NaN,False,NaN,1.1
1653,676191832485810177,2015-12-14 00:07:50,Twitter for iPhone,These two pups just met and have instantly bonded. Spectacular scene. Mesmerizing af. 10/10 and 7/10 for blue dog https://t.co/gwryaJO4tC,"https://twitter.com/dog_rates/status/676191832485810177/photo/1,https://twitter.com/dog_rates/status/676191832485810177/photo/1,https://twitter.com/dog_rates/status/676191832485810177/photo/1",10,10.0,NaN,False,NaN,1.0
1664,675853064436391936,2015-12-13 01:41:41,Twitter for iPhone,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80.0,NaN,False,NaN,1.1
1672,675710890956750848,2015-12-12 16:16:45,Twitter for iPhone,This is Lenny. He was just told that he couldn't explore the fish tank. 12/10 smh all that work for nothing https://t.co/JWi6YrpiO1,"https://twitter.com/dog_rates/status/675710890956750848/photo/1,https://twitter.com/dog_rates/status/675710890956750848/photo/1",12,10.0,Lenny,False,NaN,1.2
1683,675432746517426176,2015-12-11 21:51:30,Twitter for iPhone,Happy Friday. Here's some golden puppers. 12/10 for all https://t.co/wNkqAED6lG,"https://twitter.com/dog_rates/status/675432746517426176/photo/1,https://twitter.com/dog_rates/status/675432746517426176/photo/1,https://twitter.com/dog_rates/status/675432746517426176/photo/1",12,10.0,NaN,False,NaN,1.2
1687,675349384339542016,2015-12-11 16:20:15,Twitter for iPhone,Yea I lied. Here's more. All 13/10 https://t.co/ZQZf2U4xCP,"https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1",13,10.0,NaN,True,NaN,1.3
1688,675334060156301312,2015-12-11 15:19:21,Twitter for iPhone,Good morning here's a grass pupper. 12/10 https://t.co/2d68FmWGGs,"https://twitter.com/dog_rates/status/675334060156301312/photo/1,https://twitter.com/dog_rates/status/675334060156301312/photo/1",12,10.0,NaN,False,pupper,1.2
1702,675003128568291329,2015-12-10 17:24:21,Twitter for iPhone,Meet Laela. She's adorable. Magnificent eyes. But I don't see a seat belt. Insubordinate.. and churlish. Still 12/10 https://t.co/pCGDgLkLo6,"https://twitter.com/dog_rates/status/675003128568291329/photo/1,https://twitter.com/dog_rates/status/675003128568291329/photo/1",12,10.0,Laela,False,NaN,1.2
1712,674764817387900928,2015-12-10 01:37:23,Twitter for iPhone,These two pups are masters of camouflage. Very dedicated to the craft. Both must've spent decades practicing. 10/10s https://t.co/RBiQ8hPqwr,"https://twitter.com/dog_rates/status/674764817387900928/photo/1,https://twitter.com/dog_rates/status/674764817387900928/photo/1",10,10.0,NaN,False,NaN,1.0
1714,674752233200820224,2015-12-10 00:47:23,Twitter for iPhone,Everyone please just appreciate how perfect these two photos are. 12/10 for both https://t.co/rLf7asnHxO,"https://twitter.com/dog_rates/status/674752233200820224/photo/1,https://twitter.com/dog_rates/status/674752233200820224/photo/1",12,10.0,NaN,False,NaN,1.2
1727,674468880899788800,2015-12-09 06:01:26,Twitter for iPhone,This is Louis. He thinks he's flying. 13/10 this is a legendary pup https://t.co/6d9WziPXmx,"https://twitter.com/dog_rates/status/674468880899788800/photo/1,https://twitter.com/dog_rates/status/674468880899788800/photo/1",13,10.0,Louis,False,NaN,1.3
1760,673887867907739649,2015-12-07 15:32:42,Twitter for iPhone,When you're having a great time sleeping and your mom comes in and turns on the lights. 10/10 https://t.co/6qYd6BNSPd,"https://twitter.com/dog_rates/status/673887867907739649/photo/1,https://twitter.com/dog_rates/status/673887867907739649/photo/1",10,10.0,NaN,False,NaN,1.0
1766,673707060090052608,2015-12-07 03:34:14,Twitter for iPhone,This is Raymond. He's absolutely terrified of floating tennis ball. 10/10 it'll be ok pupper https://t.co/QyH1CaY3SM,"https://twitter.com/dog_rates/status/673707060090052608/photo/1,https://twitter.com/dog_rates/status/673707060090052608/photo/1",10,10.0,Raymond,False,pupper,1.0
1769,673697980713705472,2015-12-07 02:58:09,Twitter for iPhone,This is Pickles. She's a tiny pointy pupper. Average walker. Very skeptical of wet leaf. 8/10 https://t.co/lepRCaGcgw,"https://twitter.com/dog_rates/status/673697980713705472/photo/1,https://twitter.com/dog_rates/status/673697980713705472/photo/1",8,10.0,Pickles,False,pupper,0.8
1770,673689733134946305,2015-12-07 02:25:23,Twitter for iPhone,When you're having a blast and remember tomorrow's Monday. 11/10 https://t.co/YPsJasNVGe,"https://twitter.com/dog_rates/status/673689733134946305/photo/1,https://twitter.com/dog_rates/status/673689733134946305/photo/1",11,10.0,NaN,False,NaN,1.1
1783,673355879178194945,2015-12-06 04:18:46,Twitter for iPhone,This is Koda. She's a boss. Helps shift gears. Can even drive herself. Still no seat belt (reckless af). 11/10 https://t.co/0zUxlrhZrQ,"https://twitter.com/dog_rates/status/673355879178194945/photo/1,https://twitter.com/dog_rates/status/673355879178194945/photo/1,https://twitter.com/dog_rates/status/673355879178194945/photo/1",11,10.0,Koda,False,NaN,1.1
1789,673320132811366400,2015-12-06 01:56:44,Twitter for iPhone,This is Frankie. He's wearing blush. 11/10 really accents the cheek bones https://t.co/iJABMhVidf,"https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1",11,10.0,Frankie,False,NaN,1.1
1790,673317986296586240,2015-12-06 01:48:12,Twitter for iPhone,Take a moment and appreciate how these two dogs fell asleep. Simply magnificent. 10/10 for both https://t.co/juX48bWpng,"https://twitter.com/dog_rates/status/673317986296586240/photo/1,https://twitter.com/dog_rates/status/673317986296586240/photo/1",10,10.0,NaN,False,NaN,1.0
1826,672272411274932228,2015-12-03 04:33:27,Twitter for iPhone,This is Pippin. He is terrified of his new little yellow giraffe. 11/10 https://t.co/ZICNl6tIr5,"https://twitter.com/dog_rates/status/672272411274932228/photo/1,https://twitter.com/dog_rates/status/672272411274932228/photo/1",11,10.0,Pippin,False,NaN,1.1
1848,671874878652489728,2015-12-02 02:13:48,Twitter for iPhone,This is Mia. She was specifically told not get on top of the hutch or play in the fridge. 10/10 what a rebel https://t.co/3J7wkwW4FG,"https://twitter.com/dog_rates/status/671874878652489728/photo/1,https://twitter.com/dog_rates/status/671874878652489728/photo/1",10,10.0,Mia,False,NaN,1.0
1852,671768281401958400,2015-12-01 19:10:13,Twitter for iPhone,When you try to recreate the scene from Lady &amp; The Tramp but then remember you don't have a significant other. 10/10 https://t.co/TASnD8Q08S,"https://twitter.com/dog_rates/status/671768281401958400/photo/1,https://twitter.com/dog_rates/status/671768281401958400/photo/1",10,10.0,NaN,False,NaN,1.0
1856,671735591348891648,2015-12-01 17:00:19,Twitter for iPhone,This is Oscar. He's ready for Christmas. 11/10 https://t.co/TON0Irzgwr,"https://twitter.com/dog_rates/status/671735591348891648/photo/1,https://twitter.com/dog_rates/status/671735591348891648/photo/1,https://twitter.com/dog_rates/status/671735591348891648/photo/1,https://twitter.com/dog_rates/status/671735591348891648/photo/1",11,10.0,Oscar,False,NaN,1.1
1860,671547767500775424,2015-12-01 04:33:59,Twitter for iPhone,This is Marley. She chews shoes then feels extremely guilty about it and refuses to look at them. 10/10 https://t.co/f99MV0htAV,"https://twitter.com/dog_rates/status/671547767500775424/photo/1,https://twitter.com/dog_rates/status/671547767500775424/photo/1",10,10.0,Marley,False,NaN,1.0

> the first url contains some irrelevant info such as https://www.gofundme.com/mingusneedsus. Therefore, I will take the second url.

In [666]:
# get the second url if there is more than 2 urls
df1_clean.loc[df1_clean.expanded_urls.str.split(",").str.len()>1,"expanded_urls"] = df1_clean.expanded_urls.str.split(",").str[1]

## Test

In [667]:
# check
df1_clean[df1_clean.expanded_urls.str.split(",").str.len()>1]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, replied, stage, rating_impact]
Index: []

In [668]:
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 11 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2175 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2174 non-null float64
name                  1391 non-null object
replied               2175 non-null bool
stage                 344 non-null object
rating_impact         2174 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 172.1+ KB

In [669]:
df1_clean[df1_clean.rating_denominator.isna()]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rating_impact
429,810984652412424192,2016-12-19 23:06:23,Twitter for iPhone,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,https://twitter.com/dog_rates/status/810984652412424192/photo/1,0,NaN,Sam,False,NaN,NaN

## df2_clean

## Definition
tweet id should be string data type

In [670]:
# info
df2_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 5 columns):
tweet_id      2075 non-null int64
jpg_url       2075 non-null object
img_num       2075 non-null int64
prediction    1751 non-null object
confidence    1751 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 81.1+ KB

In [671]:
# change it to str
df2_clean.tweet_id = df2_clean.tweet_id.astype(str)

## Test

In [672]:
# info
df2_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 5 columns):
tweet_id      2075 non-null object
jpg_url       2075 non-null object
img_num       2075 non-null int64
prediction    1751 non-null object
confidence    1751 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 81.1+ KB

## Definition
remove observations which are predicted as non-dog

In [673]:
# drop rows if prediction is nan
df2_clean=df2_clean.dropna(subset=["prediction"])

## Test

In [674]:
# check if number is lower
df2_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751 entries, 0 to 2073
Data columns (total 5 columns):
tweet_id      1751 non-null object
jpg_url       1751 non-null object
img_num       1751 non-null int64
prediction    1751 non-null object
confidence    1751 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 82.1+ KB

## df3_clean

## Definition
tweet_id should be str.

In [678]:
# info
df3_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null object
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(2), object(1)
memory usage: 54.9+ KB

In [679]:
# change it to str
df3_clean.tweet_id = df3_clean.tweet_id.astype(str)

## Test

In [680]:
# info
df3_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null object
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(2), object(1)
memory usage: 54.9+ KB

## Merge data sets

In [681]:
# merge df1 and df2
df_temp = df1_clean.merge(df2_clean, on="tweet_id", how="inner")

In [682]:
# merge the 3rd df
twitter_archive_master = df_temp.merge(df3_clean, on="tweet_id", how="left")

In [684]:
twitter_archive_master.sample()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,replied,stage,rating_impact,jpg_url,img_num,prediction,confidence,retweet_count,favorite_count
1330,675145476954566656,2015-12-11 02:49:59,Twitter for iPhone,What an honor. 3 dogs here. Blond one is clearly a gymnast. Other two just confused. Very nifty pups. 9/10 for all https://t.co/YDgstgIDGs,https://twitter.com/dog_rates/status/675145476954566656/photo/1,9,10.0,NaN,False,NaN,0.9,https://pbs.twimg.com/media/CV6ZOPqWsAA20Uj.jpg,1,Labrador_retriever,0.458746,946.0,2192.0

In [685]:
# save as twitter_archive_master.csv
twitter_archive_master.to_csv("twitter_archive_master.csv")

In [688]:
# check the csv above is saved
import os
os.listdir()

['.ipynb_checkpoints',
 'image_predictions.tsv',
 'tweet_json.txt',
 'twitter-archive-enhanced.csv',
 'twitter_archive_master.csv',
 'wrangle_act.ipynb']